* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.board {
  height: 90vh;
  margin-top: 5vh;
  aspect-ratio: 1;
  background-color: #3d2600;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate {
  transform: rotate(180deg);
}

.rotate-animate {
  animation: rotate 0.5s linear forwards;
}

.reverse-rotate-animate {
  animation: reverse 0.5s linear forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes reverse {
  100% {
    transform: rotate(0deg);
  }
}

.inner-board {
  height: 95%;
  aspect-ratio: 1;
  border-radius: inherit;
  background-color: #553b10;
  display: flex;
  flex-direction: column;
  position: relative;
}

.inner-board i {
  position: absolute;
}

.inner-board .black {
  color: #000;
  text-shadow: 3px 3px #fff, -3px -3px #fff, -3px 3px #fff, 3px -3px #fff;
  transform: rotateX(-30deg);
}

.inner-board .white {
  color: #fff;
  text-shadow: 3px 3px #000, -3px -3px #000, -3px 3px #000, 3px -3px #000;
  transform: rotateX(-30deg);
}

.inner-board .pawn {
  font-size: 48px;
}

.inner-board .rook,
.inner-board .knight,
.inner-board .bishop {
  font-size: 50px;
}

.inner-board .queen {
  font-size: 52px;
}

.inner-board .king {
  font-size: 55px;
}

.inner-board .piece-white {
  fill: #fff;
}

.row {
  height: calc(100% / 8);
  aspect-ratio: 8/1;
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.squares {
  width: calc(100% / 8);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  color: white;
  position: relative;
}

.squares:nth-child(odd) {
  background-color: #241200;
}

.squares:nth-child(even) {
  background-color: #a58355;
}

.squares:nth-child(odd):hover {
  box-shadow: inset 0 0 10px 10px rgba(165, 131, 85, 0.6);
}

.squares:nth-child(even):hover {
  box-shadow: inset 0 0 10px 10px rgba(36, 18, 0, 0.6);
}

.hidden {
  opacity: 0;
}

.valid:before {
  content: '';
  height: 100%;
  position: absolute;
  aspect-ratio: 1;
  background: radial-gradient(#fff, cyan, teal);
  opacity: 0.9;
}

.current:before {
  content: '';
  width: 100%;
  aspect-ratio: 1;
  background: radial-gradient(#000 60%, cyan, teal);
}

.danger:before {
  content: '';
  width: 100%;
  aspect-ratio: 1;
  background: radial-gradient(#f33 60%, #ffe6e6);
}
