* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
  flex-direction: column;
}

.board {
  height: 95vh;
  width: 75vw;
  background: url('img/dark-wood.jpg');
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.white-kill,
.black-kill {
  height: 100%;
  width: 15%;
  border-radius: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.white-kill {
  direction: rtl;
}

.inner-board {
  height: 95%;
  aspect-ratio: 1;
  border-radius: inherit;
  border: 10px solid #674510;
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}

.game-over {
  background: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: inherit;
}

.inner-game-over {
  height: 95%;
  aspect-ratio: 1;
  border-radius: inherit;
  border: 10px solid #674510;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.winner {
  height: fit-content;
  width: 100%;
  color: #b98531;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  background: url('img/dark-wood.jpg');
  border-radius: inherit;
  padding-bottom: 10px;
}

.winner #heading {
  font-size: 4rem;
  text-shadow: 0.6rem 0.3rem 1rem #674510;
  margin-bottom: 1rem;
}

.winner #winner-heading {
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 0.1rem 0.1rem 1rem #fff;
}

#play-again {
  background: url('img/dark-wood.jpg');
  padding: 1rem 3rem;
  color: #b98531;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0.6rem 0.3rem 0.4rem #000;
  border-radius: inherit;
  box-shadow: 0.2rem 0.2rem 0.3rem 0.1rem #b98531,
    -0.2rem 0.2rem 0.3rem 0.1rem #b98531, 0.2rem -0.2rem 0.3rem 0.1rem #b98531,
    -0.2rem -0.2rem 0.3rem 0.1rem #b98531;
  border: none;
}

img {
  /* isolation: isolate; */
  position: absolute;
  z-index: 1000;
}

@keyframes anything {
  100% {
    transform: translate(0, 200%);
  }
}

img.black,
img.white {
  filter: drop-shadow(0px 0px 4px #fff);
  height: 100%;
  width: 100%;
}

img.pawn {
  padding: 0.3rem;
}

.white-kill > img,
.black-kill > img {
  height: 4rem;
  width: 4rem;
}
.row {
  height: calc(100% / 8);
  aspect-ratio: 8/1;
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.squares {
  width: calc(100% / 8);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* isolation: isolate; */
  color: white;
  position: relative;
  /* z-index: 10; */
}

.squares:nth-child(odd) {
  background: url('img/dark-wood-90.jpg') no-repeat center center / cover;
}

.squares:nth-child(odd) > img {
  filter: drop-shadow(0 0 7px #fff);
}

.squares:nth-child(odd) .active {
  animation: glow 3.2s linear infinite;
}

.squares:nth-child(even) .active {
  animation: darkGlow 3.2s linear infinite;
}

.squares:nth-child(even) {
  background: url('img/light-wood.jpg') no-repeat center center / cover;
}

.squares:nth-child(even) > img {
  filter: drop-shadow(0 0 7px #000);
}

.squares:nth-child(odd):hover {
  box-shadow: inset 0 0 10px 10px rgba(165, 131, 85, 0.6);
}

.squares:nth-child(even):hover {
  box-shadow: inset 0 0 10px 10px rgba(36, 18, 0, 0.6);
}

.valid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(cyan 30%, teal);
  opacity: 0.8;
}

.current::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(teal 35%, #000);
  opacity: 0.8;
}

.danger::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(cyan, #f00);
  opacity: 0.8;
}

.check:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(#f00 50%, #000);
  opacity: 0.8;
}

#footer {
  color: #fff;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer p {
  font-size: 1rem;
}

.rotate {
  transform: rotate(180deg);
}

.rotate-animate {
  animation: rotate 0.6s linear forwards;
}

.reverse-rotate-animate {
  animation: reverseRotate 0.6s linear forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes reverseRotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  50% {
    background: rgba(255, 255, 255, 0.094);
  }
  100% {
    background: transparent;
  }
}

@keyframes darkGlow {
  50% {
    background: rgba(0, 0, 0, 0.204);
  }
  100% {
    background: transparent;
  }
}

.activate {
  animation: anything var(--z) ease-in-out forwards;
}

@keyframes anything {
  100% {
    transform: translate(var(--y), var(--x)) rotate(var(--rotate));
  }
}

@media only screen and (max-width: 500px) {
  .board {
    height: 95vh;
    margin-top: 0;
    width: 100vw;
    background: url('img/dark-wood-90.jpg');
    flex-direction: column;
  }

  .white-kill,
  .black-kill {
    height: 25%;
    width: 100%;
    flex-direction: row;
  }

  .inner-board {
    width: 95vw;
    aspect-ratio: 1;
  }

  #footer p {
    font-size: 0.65rem;
  }
}
